<div class="container">
  <% if !@itinerary.name.present? && !@itinerary.date.present? %>
    <div class="row">
      <div class="col s12">
        <p>Give your itinerary a name and a date!</p>
      </div>
    </div>

    <%= render 'form' %>

    <% else %>

    <div class="row">
      Title: <div class="col s12"><h3 class="section-header"><%= @itinerary.name %></h3></div>
    </div>
    <div class="row">
      Date: <div class="col s12"><h5 class="section-header"><%= @itinerary.date %></h5></div>
    </div>
    <div class="row">
      Hosted by: <div class="col s12"><h5 class="section-header"><%= @itinerary.host.first_name + " " + @itinerary.host.last_name %></h5></div>
    </div>
    <div class="row">
      Created by: <div class="col s12"><h5 class="section-header"><%= @itinerary.visitor.first_name + " " + @itinerary.visitor.last_name %></h5></div>
    </div>
  <% end %>

  <hr class="user-page-hr">

    <ul class="list">
      <% @activities.each do |activity| %>
      <div class="row">
        <div class="col s12">
          <li><%= render partial: 'activities/act_listing', locals: { activity: activity } %></li>
        </div>
      </div>
      </ul>
    <% end %>

  <div class="row">
    <div class="col s12">
      <%= link_to "Add an Activity", new_itinerary_activity_path(@itinerary, @activity), class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="confirm-button col s12">
    <div class="row">
      <%= button_to "Confirm this Itinerary", confirmation_index_path, remote: true, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="edit-button hidden col s12">
    <div class="row">
      <%= button_to "Edit this Itinerary", confirmation_index_path, remote: true, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="complete-button hidden col s12">
    <div class="row">
      <%= button_to "Finish this Trip", itinerary_complete_path(@itinerary), method: :put, class: "waves-effect waves-light btn" %>
    </div>
  </div>


  <div id="map">
  </div>

  <script>
    window.mapCenterLocation = <%= raw @itinerary.center_lat_lng.to_json %>;
  </script>
  <script>
    window.locationsCollection = <%= raw @itinerary.locations_finder.to_json %>
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgaK6AdncBCkgkSFtzvgksSEkF3TVBz1E&callback=initMap" async defer></script>
  <%=  %>
</div>
