<div class="container">
  <% if !@itinerary.name.present? && !@itinerary.date.present? %>
    <div class="row">
      <div class="col s12">
        <h5>Give your itinerary a name and a date!</h5>
      </div>
    </div>

    <%= render 'form' %>

    <% else %>

    <div class="row itin-row">
      Title: <div class="col s12"><h3 class="header"><%= @itinerary.name %></h3></div>
    </div>
    <div class="row itin-row">
      Date: <div class="col s12"><h5 class="header"><%= @itinerary.date %></h5></div>
    </div>
    <div class="row itin-row">
      Host: <div class="col s12"><h5 class="header"><%= @itinerary.host.first_name + " " + @itinerary.host.last_name %></h5></div>
    </div>
    <div class="row itin-row">
      Visitor: <div class="col s12"><h5 class="header"><%= @itinerary.visitor.first_name + " " + @itinerary.visitor.last_name %></h5></div>
    </div>
  <% end %>

  <hr class="user-page-hr">

    <ul class="list">
      <% @activities.each do |activity| %>
      <div class="row">
        <div class="col s12">
          <li><%= render partial: 'activities/act_listing', locals: { activity: activity } %></li>
        </div>
      </div>
      </ul>
    <% end %>

  <div class="activity-buttons col s12">
    <div class="row">
      <%= link_to "Add an Activity", new_itinerary_activity_path(@itinerary, @activity), class: "waves-effect waves-light btn" %>
  </div>
  </div>
  <div class="confirm-button col s12">
    <div class="row">
      <%= button_to "Confirm this Itinerary", confirmation_index_path, remote: true, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="edit-button hidden col s12">
    <div class="row">
      <%= button_to "Edit this Itinerary", confirmation_index_path, remote: true, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="complete-button hidden col s12">
    <div class="row">
      <%= button_to "Finish this Trip (and review host)", itinerary_complete_path(@itinerary), method: :put, class: "waves-effect waves-light btn" %>
    </div>
  </div>

  <div id="map">
    </div>

    <script>
      window.mapCenterLocation = <%= raw @itinerary.center_lat_lng.to_json %>;
    </script>

    <% if !@itinerary.locations.empty? && @itinerary.locations.first.name.length != 0 %>
      <script >
        window.placesInfo = <%= raw @itinerary.places_info_finder.to_json %>
      </script>
    <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgaK6AdncBCkgkSFtzvgksSEkF3TVBz1E&callback=initMap&libraries=places" async defer></script>

  <% if @itinerary.visitor_id == current_user.id %>
    <div class="delete-itinerary-button col s12">
      <div class="row">
        <%= button_to "Delete This Itinerary", itinerary_path(@itinerary), method: :delete, class: "waves-effect waves-light btn" %>

      </div>
    </div>
  <% end %>
</div>
