<div class="container">
	<div class="row">
		<div class="col s12">
		<% if !@users.empty? %>
			<% @users.each do |user| %>
				<ul>
					<li>
					  <div class="col s12 m8 offset-m2 l6 offset-l3">
			        <div class="card-panel grey lighten-5 z-depth-1">
			          <div class="row valign-wrapper">
			            <div class="col s2">
			              <%= image_tag "baker", alt: "user-profile-img", class: "circle responsive-img" %>
			            </div>
			            <div class="col s10">
			              <span class="black-text">
			                <%= link_to user.first_name, user_path(user)  %> - <%= user.city %>
			              </span>
			            </div>
			          </div>
			        </div>
			      </div>
					</li>
				</ul>
			<% end %>
		<% elsif @users.empty? && !@all_city_hosts.empty?%>
			<h4>Your search for "<%= params[:search] %>" returned no hosts with similar interests</h4>
			<div class="row">
				<div class="col s12">
					<h5>Find a host in "<%= params[:search] %>" with different interests...<h5>
				</div>
			</div>
			<% @all_city_hosts.each do |user| %>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
			    <div class="card-panel grey lighten-5 z-depth-1">
			      <div class="row valign-wrapper">
			        <div class="col s2">
			          <%= image_tag "user-image-with-black-background_318-34564.png", alt: "user-profile-img", class: "circle responsive-img" %>
			        </div>
			        <div class="col s10">
			          <span class="black-text">
			            <%= link_to user.first_name, user_path(user)  %> - <%= user.city %>
			          </span>
			        </div>
			      </div>
			    </div>
			  </div>
			<% end %>
			  <div class="row">
				<div class="col s12">
					<h5>...or try another city<h5>
				</div>
			</div>
			<%= render 'search_field' %>
		<% elsif @users.empty? && @all_city_hosts.empty? %>
			<div class="row">
				<div class="col s12">
					<h4>We're sorry, there are no hosts available in "<%= params[:search] %>"<h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Try another city<h5>
				</div>
			</div>
			<%= render 'search_field' %>
		<% end %>
		</div>
	</div>

</div>
