<div class="container">
	<div class="login-container">
		<h1 class="user-interaction-title">Sign up!</h1>
		<%= render '/errors' %>
		<%= form_for :user, url: '/users' do |f| %>

		  First Name: <%= f.text_field :first_name %>
		  Last Name: <%= f.text_field :last_name %>
		  Email: <%= f.text_field :email %>
			City: <%= f.text_field :city %>
		  State/Province: <%= f.text_field :state_province %>
			Country: <%= f.text_field :country %>
		  About Me: <%= f.text_field :personal_info %>
		  Languages: <%= f.text_field :language %>
		  Gender: <%= f.text_field :gender %>
			Guide Status:
				<br>
				<br>
				<%= check_box_tag(:is_host) %>
				<%= label_tag(:is_host, "(I am willing ot host)") %>
				<br>
				<br>
			Password: <%= f.password_field :password %>
		  <%= f.submit "Submit", :class => 'form-button' %>
		<% end %>
	</div>
</div>
