<div class="user-info container">

  <div class="user-image-container container col s12">
    <%= image_tag "user-image-with-black-background_318-34564", class: "user-image circle responsive-img" %>
  </div>

  <% if @user.is_host == true %>
    <i class="small material-icons">navigation</i> Available to Guide
  <% end %>
  | <%= link_to "Score: #{@user.overall_score}", user_reviews_path(@user) %>
  <hr class="user-page-hr">

  <div class="user-details row">
    <h4 class="col s12"><span class="category-title"><%= @user.first_name %> <%= @user.last_name %></span></h4>
      <p class="col s12"><span class="category-title">Interests: </span></p>
        <hr class="user-page-hr">
        <div class="col s12 user-button">
          <% @user.interests.each do |interest| %>
          <div class="chip">
            <%= interest.name%>
          </div>
          <% end %>
        </p>
    <p class="col s12"><span class="category-title">Personal info: </span><%= @user.personal_info %></p>
    <p class="col s12"><span class="category-title">Location: </span><%= @user.city %>, <%= @user.state_province %>, <%= @user.country %></p>
    <p class="col s12"><span class="category-title">Main language: </span><%= @user.language %></p>
    <p class="col s12"><span class="category-title">Gender: </span><%= @user.gender %></p>
    </div>

    <div class="col s12 user-button">
      <% if @user == current_user %>
      <div class="col s12">
        <%= link_to "Search For Global Hosts", users_search_path, class:"waves-effect waves-light btn user-button" %>
      </div>
      <% else %>
      <div class="col s12">
        <%= link_to "Contact Me", {:controller => "conversations", :action => "new", :id => params[:id]}, class:"waves-effect waves-light btn user-button" %>
        </div>
        <div class="col s12">
        <%= link_to "Review Me", new_user_review_path(@user), class:"waves-effect waves-light btn user-button" %>
        </div>
        <% end %>
      </div>
    </div>
