<div class="welcome-container">
  <div class="row">
    <div class="col s12"><h2>Welcome to Global Host</h2></div>
  </div>
  <div class="row">
    <div class="col s12"><h4>Friends in far places</h4></div>
  </div>
  <div class="row">
    <div class="col s12"><input type="search" id="search-bar" placeholder="Where would you like to go?"></div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= link_to("Login", new_session_path, class:"waves-effect waves-light btn")%>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= link_to("Register", new_user_path, class:"waves-effect waves-light btn")%>
    </div>
  </div>

  <% if logged_in? %>
      <td class="nav-buttons"><%= link_to("Hello, #{current_user.first_name}", user_path(current_user))%> </td>
      <%= link_to("Logout", session_path(current_user), method: :delete, data: {confirm: 'Are you sure you want to log out?'}) %>
    <% else %>
      <td class="nav-buttons"> <%= link_to("Register", new_user_path)%> | </td>
      <td class="nav-buttons"> <%= link_to("Login", new_session_path)%>  </td>
  <% end %>
  <!-- search bar here??? -->


</div>
