<div class="row">
  <div class="col s12">
    <h5><%= activity.description %></h5>
  </div>
</div>

<div class="location-detail z-depth-2">
  <div class="location-detail row">
    <div class="col s12">
      <p><%= activity.location.name %></p>
      <p><%= activity.location.address %></p>
      <p><%= activity.location.city %></p>
    </div>
  </div>
</div>


<div class="row">
  <div class="row">
    <div class="col s12">
      <%= link_to "Update Activity", edit_itinerary_activity_path(activity.itinerary, activity), class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= link_to "Check In", class: "waves-effect waves-light btn" %>
    </div>
  </div>
</div>
