<div class="row">
  <div class="container col s12">
    <%= form_for [@itinerary, @activity], :html => { :method => :put } do |f| %>
      <%= f.label :description %>:
      <%= f.text_field :description %>
        <%= f.fields_for :location do |ff| %>
        <%= f.label :name %>:
          <%= ff.text_field :name %>
          <%= f.label :address %>:
          <%= ff.text_field :address %>
          <%= f.label :city %>:
          <%= ff.text_field :city %>
        <% end %>
      <%= f.submit "Save Changes", :class => "waves-effect waves-light btn user-button" %>
    <% end %>
  </div>
</div>
