<div class="container col s12">
  <%= render '/errors' %>
  <%= form_for :review, url: user_reviews_path do |f| %>

  <h5><span class="category-title">How do you feel about your experience with <%= @user.first_name %> <%= @user.last_name %>?</span></h5>
  <%= f.select(:score, [['1 - Terrible', 1], ['2 - Bad', 2], ['3 - Mediocre', 3], ["4 - Good", 4], ["5 - Excellent", 5]].reverse, {}, {:class => 'browser-default'}) %>

  <div class="row">
    <div class="input-field col s12">
       <input id="title" type="text" class="validate" name="review[title]" value="<%= @review.title %>">
       <label for="title">Title</label>
    </div>
  </div>
  <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea validate" name="review[body]"><%= @review.body %></textarea>
          <label for="body">Tell us about your experience:</label>
        </div>
      </div>
  </div>


  <%= f.hidden_field :reviewee_id, value: @user.id %>
  <%= f.hidden_field :reviewer_id, value: current_user.id %>
  <div><%= f.submit "Review", :class => "form-button waves-effect waves-light btn user-button" %></div>

<% end %>
</div>
