<div class="under-nav-bar">
  <%= render '/errors' %>
  <%= form_for :review, url: user_reviews_path do |f| %>

  <div>Header:<br> <%= f.text_field :title %></div>

  <div>Score: <%= f.text_field :score %></div>
  <div><%= f.text_field :body %></div>

  <%= f.hidden_field :reviewed_user_id, value: @user.id %>
  <%= f.hidden_field :reviewer_id, value: current_user.id %>
  <div><%= f.submit "Review" %></div>

<% end %>
</div>
