<div class="under-nav-bar">

<%= render '/movies/movieinfo' %>
<div class="review-header">
  <h2>Review</h2>
</div>

<div class="indiv-review-box">

  <div class="review-body">
    <%= @review.body %>
  </div>
  <div class="review-author">
    Written By: <%= @review.reviewer.name %>
  </div>

  <div class="review-score">
    Score: <%= @review.score%>/10
  </div>

</div>


<div class="comment-header">
  <h3>Comments</h3>
</div>

<div class="comment-container">
  <% @comments.each do |comment| %>
  <div class="indiv-comment-container">
    <div class="comment-body">
      <%= comment.body %>
    </div>
    <div class="comment-author">
      By: <%= link_to "#{comment.commenter.name}", user_path(comment.commenter) %>
    </div>
  </div>
</div>
<% end %>
<div class="new-comment-container">
  <%= form_for :comment, url: movie_review_comments_path(@movie, @review) do |f| %>
    Comment:<br>
    <%= f.text_field :body%><br>
    <%= f.submit "Comment" %>
  <% end %>
</div>
</div>
