<div class="container">
  <%= image_tag "baker", alt: "user-profile-img", class: "circle responsive-img" %>
  <div class="category-title slightly-enlarge-text"><span class="category-title">Review For: <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %></span></div>

  <div class="row">
    <p class="col s12"><span class="category-title"><%= @review.title %> | score: <%= @review.score %>/5</span></p>
    <% author = User.find(@review.reviewer_id) %>
    <p class="col s12"><span class="category-title">Reviewed by: <%= link_to "#{author.first_name } #{author.last_name}", user_path(@review.id) %></span></p>
    <p class="col s12 flow-text"><%= @review.body %></p>
  </div>

</div>
